body {
    background: #41472a;
    font-family: cursive;
    color: #bbd18c;
    text-shadow: 1px 4px 8px #000000;
}


.container {
    border: 3px solid red;
}


.row {
    border: 2px solid blue;
}


.col {
    border: 1px solid yellow;
}

#menuSection{
    border: 1px solid purple;
    width: 100%;
}
#menuSection a{
    text-align: left;
    
    padding: 2%;
    cursor: pointer;
}


/*--- Layout with Contained Floats

.layout:before,
.layout:after {

    display: block;
}

.layout:after {
    clear: both;
}

.layout {
    clear: both;
    *zoom: 10;

}

section {
    float: left;
    width: 85%;

}

aside {
    float: right;
    width: 14%;
}

  */



.headertitle {
    padding-left: 15px;
    font-size: 37px;
    color: #bbd18c;
    position: relative;
}

.headerimage img {
    width: 100%;
}

.informationbar {
    background: black;
    color: #facc3b;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.headerimage {
    width: 100%;
    position: relative;
}

.logo {
    width: 15vw;
    min-width: 10px;
    left: 1%;
    top: 20vw;
    position: absolute;
    box-sizing: border-box;
}




.content p {
    margin-left: 20px;
}

.content h2 {
    margin-top: 0px;
}

#contactinfo {
    margin-top: 30px;
}

#contactinfo p {
    padding-left: 30px;
}

/*
.designedby {
    font-size: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
}
*/

#designedby a {
    text-decoration: none;
    color: #bbd18c;
}

#onapage {
    color: #facc3b;
    text-decoration: underline;
}

h3 {
    margin-top: 0px;
    font-size: 22px;
}

#ruleinfo {
    font-style: italic;
    margin-bottom: 3%;
}

.bold {
    font-weight: bold;
}

.dropdown {
    margin-bottom: 0;
    margin-top: 10px;
    text-decoration: underline;
}

ul {
    margin-top: 0;
}

ol {
    margin-top: 0;
}

li {
    margin-top: 0;
}

#gameonsat {
    text-decoration: underline;
    font-style: italic;
}

#othergameinfo {
    margin-top: 30px;
}

#othergameinfo p {
    margin-left: 0px;

}

#gameinfocontact p {
    display: inline-block;

}

#gameinfocontact #gameinfoemail {
    margin-left: 20%;
}

table {
    margin-top: 15px;
}

table th {
    text-decoration: underline;
    text-align: left;
}

table td {
    width: 20%;
}

.firstcolumn {
    padding-left: 3%;
}

.locationtable {
    margin-top: 30px;
}

.locationtable caption {
    text-align: left;
    font-weight: bold;
}

.locationfirstcolumn {
    width: 10%;
}


.registrationquestion {
    font-weight: bold;
    margin-left: 15px;
}

.playersdata {
    margin-top: 2%;
}

.permission {
    padding-top: 10px;
}

.permission a {
    display: block;
    margin-bottom: 5px;
}

#permissiontitle {
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
}

#signingtheregistration {
    font-style: italic;
}

#registratinform fieldset {
    border: none;
}

.closequestion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.positionquestion a {
    margin-top: 10px;
}

.positionquestion fieldset {
    margin-bottom: 10px;
}

.mapoflocations {
    margin-top: 30px;
}

#themap {
    width: 500px;
}
