/*
* === BASIC ===
*/

body {
    background: #2f3640;
    font-family: 'Dosis', sans-serif;
    color: #bbd18c;
    text-shadow: 1px 4px 8px #000000;
}

#designTrick7 {
    border-left: 4px solid black;
}

h1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid black;
}

h3 {
    padding-bottom: 20px;
}


/*
* === MENU SECTION ===
*/

#menuSection1 {
    border-top: 3px solid black;
    border-right: 3px solid black;
}

#menuSection1 a {
    font-size: 20px;
    margin: 5%;
    padding: 5%;
    cursor: pointer;
    width: 100%;
}

#menuSection1 a:hover {
    background: #bbd18c;
    color: #353b48;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}


/*
* === HEADER SECTION ===
*/

#logoimg {
    position: absolute;
}

#headerSection {
    padding: 0px !important;
    text-align: center;
    border: 3px solid black;
}

#logoSection {
    padding: 0px !important;
}


/*
* === CONTENT ===
*/

#contentHome,
#contentAbout,
#contentContact,
#contentGameInfo,
#contentRegistration,
#contentRulesPolicies {
    padding: 20px;
    margin-right: 18%;
}


/*
* — Game Info —
*/

#gameonsat {
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 20px;
}

#othergameinfo {
    margin-top: 30px;
}

#othergameinfo p {
    margin-left: 0px;

}

#gameinfocontact p {
    display: inline-block;

}

#gameinfocontact #gameinfoemail {
    margin-left: 20%;
}

.mapoflocations {
    margin-top: 30px;
}

table {
    margin-top: 15px;
}

table th {
    text-decoration: underline;
    text-align: left;
}

table td {
    width: 20%;
}

.firstcolumn {
    padding-left: 3%;
}

.locationtable {
    margin-top: 30px;
}

.locationtable caption {
    text-align: left;
    font-weight: bold;
}

.locationfirstcolumn {
    width: 10%;
}

caption {
    margin-top: 20px;
    padding-bottom: 0px;
}


/*
* — Registration —
*/

fieldset {
    margin-top: 10px;
}

.registrationquestion {
    font-weight: bold;
}

.permission {
    padding-top: 10px;
    text-align: justify;
    padding-bottom: 10px;
}

.permission a {
    display: block;
    margin-bottom: 5px;
}

#permissiontitle {
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
}

#signingtheregistration {
    font-style: italic;
}

#registratinform fieldset {
    border: none;
}

.closequestion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.positionquestion a {
    margin-top: 10px;
}

.positionquestion fieldset {
    margin-bottom: 10px;
}

#submitButton {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    background: #bbd18c;
    color: #353b48;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
}

#submitButton:hover {
    background: #353b48;
    color: #bbd18c;
    border: 1px solid black;
}


/*
* — Rules & policies —
*/

#ruleinfo {
    font-style: italic;
    margin-bottom: 3%;
}

.bold {
    font-weight: bold;
}

.dropdown {
    margin-bottom: 0;
    margin-top: 10px;
    text-decoration: underline;
}

ul {
    margin-top: 0;
}

ol {
    margin-top: 0;
}

li {
    margin-top: 0;
}

#collapsetitles {
    position: relative;
}

#collapseRulesDescription {
    position: relative;
    padding-top: 10px;
}

#collapsetitles p {
    background: #bbd18c;
    color: #353b48;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
}

#collapsetitles p:hover {
    background: #353b48;
    color: #bbd18c;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid black;
}


.collapse {
    text-align: justify;
    width: 110%;
}

/*
* === FOOTER STUFF ===
*/

#footerSection {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#designedby a {
    text-decoration: none;
    color: #bbd18c;
}

#designedby a:hover {
    background: #bbd18c;
    color: #353b48;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

#designTrick1 {
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

#designTrick2 {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

#designTrick3 {
    border-right: 3px solid black;
    height: 3vw;
}

#designTrick4 {
    border-left: 3px solid black;
}

#designTrick6 {
    border-left: 3px solid black;
    height: 3vw;
}

#topBtn {
    position: fixed;
    bottom: 1.5%;
    right: 1.5%;
    font-size: 25px;
    background: #bbd18c;
    color: #353b48;
    border: none;
    cursor: pointer;
    display: none;
    border-radius: 25px;
}
