body {
    background: #2f3640;
    font-family: 'Dosis', sans-serif;
    color: #bbd18c;
    text-shadow: 1px 4px 8px #000000;
    
}

.pl-3{
    border: 2px solid black;
}

#menuSection{
    border-top: 3px solid black;
    border-right: 3px solid black;
}

#logoimg{
    position: absolute;
}

#headerSection{
    padding: 0px !important;
    text-align: center;
    
}

#logoSection{
    padding: 0px !important;
}

#menuSection {
    width: 100%;
}

#menuSection a {
    text-align: left;
    padding: 2%;
    cursor: pointer;
}

#topBtn {
    font-family: cursive;
    position: fixed;
    bottom: 1.5%;
    right: 1.5%;
    font-size: 22px;
    background: #bbd18c;
    color: #353b48;
    border: none;
    cursor: pointer;
    display: none;
    border-radius: 25px;
}


#designedby a {
    text-decoration: none;
    color: #bbd18c;
}


#ruleinfo {
    font-style: italic;
    margin-bottom: 3%;
}

.bold {
    font-weight: bold;
}

.dropdown {
    margin-bottom: 0;
    margin-top: 10px;
    text-decoration: underline;
}

ul {
    margin-top: 0;
}

ol {
    margin-top: 0;
}

li {
    margin-top: 0;
}

#gameonsat {
    text-decoration: underline;
    font-style: italic;
}

#othergameinfo {
    margin-top: 30px;
}

#othergameinfo p {
    margin-left: 0px;

}

#gameinfocontact p {
    display: inline-block;

}

#gameinfocontact #gameinfoemail {
    margin-left: 20%;
}

table {
    margin-top: 15px;
}

table th {
    text-decoration: underline;
    text-align: left;
}

table td {
    width: 20%;
}

.firstcolumn {
    padding-left: 3%;
}

.locationtable {
    margin-top: 30px;
}

.locationtable caption {
    text-align: left;
    font-weight: bold;
}

.locationfirstcolumn {
    width: 10%;
}


.registrationquestion {
    font-weight: bold;
    margin-left: 15px;
}

.playersdata {
    margin-top: 2%;
}

.permission {
    padding-top: 10px;
}

.permission a {
    display: block;
    margin-bottom: 5px;
}

#permissiontitle {
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
}

#signingtheregistration {
    font-style: italic;
}

#registratinform fieldset {
    border: none;
}

.closequestion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.positionquestion a {
    margin-top: 10px;
}

.positionquestion fieldset {
    margin-bottom: 10px;
}

.mapoflocations {
    margin-top: 30px;
}

#themap {
    width: 500px;
}

#footerSection {
    background: #000000;
}
