.topofthepage {
    border: 2px solid black;
}


.menusection {
    border: 2px solid red;
    float: left;
}


.menusection a {
    display: block;
    height: 50px;
    margin-left: 15px;
}


.content {
    border: 2px solid green;
    float: right;
}


.designedby {
    border: 2px solid purple;
    clear: both;
   
}

/*--- Layout with Contained Floats ---*/
.layout:before,
.layout:after {
    
    display: table;
}

.layout:after {
    clear: both;
}

.layout {
    clear: both;
    *zoom: 10;
}

section {
    float: left;
    
    width: 81%;
}

aside {
    float: right;
    width: 14%;  
}

/*---  ---*/

.topofthepage article{
    background: black;
    color: white;
    text-align: center;
}

.headerimage {
    border: 1px solid black;
    height: 461px;
    width: 850px;
    position: absolute;
    z-index: -1;
}