.topofthepage{
    border: 2px solid pink;
    display: block;
    left: 0;
    right: 0;
}


.headertitle {
    border: 2px solid black;
    font-size: 35px;
}


.headerimage{
    border: 2px solid red;
    height: 300px;
    width: 741px;
    align-items: center;
}


.informationbar article {
    background: black;
    color: #ffffff;
    text-align: center;
}

.logo {
    border: 1px solid black;
    z-index: -1;
    width: 200px
}