body {
    background: #41472a;
    font-family: cursive;
    color: #bbd18c;
    text-shadow: 1px 4px 8px #000000;
}


/*--- Layout with Contained Floats ---*/

.layout:before,
.layout:after {

    display: table;
}

.layout:after {
    clear: both;
}

.layout {
    clear: both;
    *zoom: 10;

}

section {
    float: left;
    width: 85%;

}

aside {
    float: right;
    width: 14%;
}

/*---  ---*/

.topofthepage{
    background: #000000;
}

.headertitle {
    padding-left: 15px;
    font-size: 37px;
    position: relative;
}

#thetitle {
    text-shadow: 10x 40px 10px #000000;
}

.headerimage img {
    width: 100%;
}


.informationbar article {
    background: black;
    color: #bbd18c;
    text-align: center;
    height: 30px;
}


.logo {
    position: absolute;
    left: 3%;
    top: 50%;
    
}

.menusection {
    float: left;
    margin-top: 5%;
    position: absolute;
}


.menusection a {
    display: block;
    height: 50px;
    margin-left: 15px;
    text-decoration: none;
    color: #bbd18c;
}


.content {
    float: right;
}


.content p {
    padding-left: 16px;
}

.designedby {
    font-size: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #41472a;
}


.designedby a {
    text-decoration: none;
    color: #bbd18c;
}
