/* --- PICTURE STYLING --- */

.pic_soccer {
    padding: 10px 30px 10px 10px;
    width: 200px;
    height: 298px;
    float: left;
    margin: 5px;
}

.pic_logo {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
}

/* --- TOP PART OF WP --- */

.header {
    color: #d4dce4;
    font-size: 30px;
    font-family: cursive;
    margin: 10px;
    height: 200px;
}

.home_title{
    padding: 50px 0px 30px 210px;
}

.menu {
    font-size: 14px;
    padding: 0px 0px 0px 240px;
}

.menu a {
    color: #a6bbcd;
    font-family: cursive;
    text-decoration: none;
}

.separator {
    color: #d4dce4;
}

/* --- FOOTER --- */

footer {
    
    font-family: cursive;
    color: #a6bbcd;
    font-size: 11px;
    width: 1000px;
    padding: 150px 0px 10px 240px;    
}

footer a {
    text-decoration: none;
    font-family: cursive;
    color: #a6bbcd;
    font-size: 11px;
}

/* --- BODY & LAYOUT --- */

body {
    background: #033949
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.page_content {
    width: 1000px;
    height: 350px;
}

.page_content h3 {
    font-family: cursive;
    color: #a6bbcd;
    font-size: 15px;
}

.description {
    
    margin-left: 260px;

}

.contact_info article {
    padding: 15px;
}

/* --- OTHER STYLING ELEMENTS --- */


h2 {
    color: #d4dce4;
    font-size: 19px;
    font-family: cursive;
}

p {
    color: #a6bbcd;
    font-size: 13px;
    font-family: cursive;
}


/* ---------------------- */





